
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(to bottom, #FFA500, #0066FF);
}
.app {
  font-family: "courier", sans-serif;
  width: min(95vw, 500px);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 30px;
}
.container {
  padding: 30px 40px;
  background-color:(#FFA500) ;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 0.8em;
}
#wrapper {
  position: relative;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 1em;
}
#wrapper input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: #111111;
  font-size: 0.9em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 1em 0.5em;
}
#wrapper input:focus {
  outline: none;
  border-color: goldenrod;
}
#wrapper button {
    position: relative;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1em;
    background-color:#87CEFA;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
  }
  #wrapper button:hover{
    box-shadow: 3px 3px 10px gold
    }
    #wrapper button:active{
        opacity: 0.5;
    }
  #tasks {
    margin-top: 1em;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 1em 0.5em;
  }
  .task {
    background-color: #ffffff;
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.05);
    align-items: center;
    cursor: pointer;
  }
  .task:not(:first-child) {
    margin-top: 1em;
  }
  .task input[type="checkbox"] {
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
}
.task input[type="checkbox"]:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.task input[type="checkbox"]:checked {
  background-color: #FFD966 ;
  border-color:#FFD966 ;
}
.task input[type="checkbox"]:checked:before {
  position: absolute;
  content: "\f00c";
  color: #ffffff;
  font-size: 0.8em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.task span {
  font-size: 15px;
  font-weight: 400;
  word-break: break-all;
}
.task button {
  color: #ffffff;
  width: 100%;
  padding: 1em 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
.edit {
  background-color: #5a95ff;
  transition: 0.15s;
}
 .edit:hover{
opacity: 0.8;
}
 .edit:active{
  opacity: 0.5;
}
.delete {
    background-color: #ff5c5c;
    transition: 0.15s;
  }
  .delete:hover{
    opacity: 0.8;
    }
     .delete:active{
      opacity: 0.5;
    }
  #pending-tasks span {
    color: #b0bcd3;
  }
  .completed {
    text-decoration: line-through;
    color: #a0a0a0;
  }
  #error {
    text-align: center;
    display: none;
    background-color: #ffffff;
    color: orange;
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 0.5em;
  }
  img{
    width: 30px;
  }
  .todo-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
  }